{% extends "base.html" %}

{% load staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static 'angular-material/angular-material.min.css' %}">
<link rel="stylesheet" href="{% static 'css/project.css' %}">
{% endblock %}

{% block angular %}
<script src="{% static 'angular/angular.min.js' %}"></script>
<script src="{% static 'angular-ui-router/release/angular-ui-router.min.js' %}"></script>
<script src="{% static 'angular-resource/angular-resource.min.js' %}"></script>
<script src="{% static 'angular-i18n/angular-locale_ru-ru.js' %}"></script>
<script src="{% static 'angular-animate/angular-animate.min.js' %}"></script>
<script src="{% static 'angular-aria/angular-aria.min.js' %}"></script>
<script src="{% static 'angular-material/angular-material.min.js' %}"></script>
{% endblock %}

{% block javascript %}
<!-- place project specific Javascript in this file -->
<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/controllers.js' %}"></script>
<script src="{% static 'js/services.js' %}"></script>
{% endblock javascript %}

{% block content %}

     <md-toolbar class="md-whiteframe-z2 md-toolbar-tools md-scroll-shrink" layout-align="start center" flex>
      <h1 class="md-title">Шопомания</h1>
     </md-toolbar>

    
  <md-card layout="column" layout-padding>
      <md-content  class="md-padding">
        <md-tabs  md-dynamic-height md-border-bottom>
          <md-tab label="Заказы">
              <div ui-view></div>
          </md-tab>
          <md-tab label="Клиенты">
            <md-content class="md-padding">
              <h1 class="md-display-2">Tab Two</h1>
              <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
            </md-content>
          </md-tab>
        </md-tabs>
      </md-content>
      <!-- 
          <div layout layout-align="start center">
              <md-button class="md-raised" ng-click="acceptOffer();"> Отправить </md-button>
          </div>
       -->
  </md-card>


{% endblock %}
